# Deny access to this file and the .git folder
<IfModule mod_rewrite.c>
  SetEnv HTTP_MOD_REWRITE On
  RewriteEngine On
  RewriteBase /

  RewriteRule \.htaccess - [L,NC,R=404]
  RewriteRule ^\.git - [L,NC,R=404]
</IfModule>

# Disable directory browsing
Options -Indexes
